.full-width{
    width: 100%;
    margin: 0;
}
.hiddendiv{
    width: 0 !important;
}
.nav_select{
    display: inline;
    background: transparent;
    border: none;
    color: white;
    font-weight: 700;
}
.nav_select:hover{
        background-color: rgba(0,0,0,0.1);
}

.bg-red{
    background-color: rgb(171, 42, 36)
}
.border_red{
    border: rgb(171, 42, 36) 3px solid;
}
.bg-white{
    background-color: whitesmoke;
}

#nav_search{
    display: inline;
    color: white;
    font-weight: 700;
    border-bottom: white 1px solid
}
#nav_search:focus{
    color: black;
    font-weight: 400
}
.nav-wrapper{
    margin-bottom: 0;
}

.container{
    margin-top: 10px;
}

.bg-image{
    min-height: 100%;
    height: auto;
    width: 100%;
    min-width: 1280px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

.collapsible{
    margin-top: 0;
    border: none;
}

.collapsible-header{
    margin-top: 15px;
    padding-top: 0;
}

.nav_text{
    margin: 0;
}

.create_post_form{
    padding: 5px 0
}

#quote{
    height: 100px !important;
    overflow-x: hidden; 
    overflow-y: scroll; 
}

.comment_row{
    margin: 0;
}

.read_only .read_quote_text,
.read_only .read_only_btns,
.edit_enabled .edit_quote_text,
.edit_enabled .edit_enabled_btns{
    display: block;
}
.read_only .edit_quote_text,
.read_only .edit_enabled_btns,
.edit_enabled .read_quote_text,
.edit_enabled .read_only_btns{
    display: none;
}
.center_text{
    text-align: center;
    
}

#delete_btn, #edit_btn, #cancel_btn, #submit_edit_btn{
    margin-top: 10px;

}

#delete_btn_icon, #edit_btn_icon, #comment_btn_icon, #cancel_edit_btn_icon, #submit_edit_btn_icon{
    margin: 0;
}

.full_height{
    height: 100%;
    margin: 0;
}
.half_height{
    height: 50%;
}

.comment_name, .comment_content{
    margin: 0;
}

.comment_row{
    margin-bottom: 10px;
}
.add_comment{
    height: 40px !important;
}

.comment_input{
    margin: 0;
}