<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotable</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type = "text/css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper bg-red">
                <a href="{{url_for('get_quotes')}}" class="brand-logo">Quotable</a>
                <ul id="dropdown1" class="dropdown-content">
                    <div><li><a href="#!"></a></li></div>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <form action="{{url_for('search_quotes')}}" id="search_form" method="POST">
                        
                            <ul>
                                <li>
                                    <div class="input-field">
                                        <input id="nav_search" class="search_text_input" type="search" name="search_content" placeholder="Search For:" required>
                                    </div>
                                </li>
                                <li><p class = "nav_text">Search In:</p></li>
                                <li>
                                    <div class="input-field col s12">
                                        <a>
                                            <select class = "nav_select" name="search_type">
                                                <option class = "bg-red" value="all" selected>Everything</option>
                                                <option class = "bg-red" value="username">Usernames</option>
                                                <option class = "bg-red" value="credit">Quote Credits</option>
                                                <option class = "bg-red" value="quote">Quote Text</option>
                                            </select>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" onclick="document.getElementById('search_form').submit()"><i class="material-icons">search</i></a>
                                </li>
                            </ul>
                            
                        
                        </form>
                    </li>
                    <li><a href="{{ url_for('new_post')}}"><i class="material-icons right">add</i>New Post</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <img src="{{url_for('static', filename='images/rosepages.jpg')}}" alt="Background Image" class="bg-image">
    <div class="container">
    {% block content %} 
    {% endblock %}  
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
    $('.collapsible').collapsible();
    $('.modal').modal();
    $(".dropdown-trigger").dropdown();
    });
    
    </script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>