<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotable</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Quotable</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html"><i class="material-icons left">search</i>Link with Left Icon</a></li>
                    <li><a href="{{ url_for('new_post')}}"><i class="material-icons right">view_module</i>New Post</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
    {% block content %} 
    {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
    $('.collapsible').collapsible();
    });
    </script>
</body>
</html>