<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <ul class="collapsible">
    {% for quote in quotes %}
        <li class="read_only">
            <div class="collapsible-header post-container border_red bg_white">
                <div class="row full-width">
                    <form action = "{{ url_for('edit_quote', quote_id=quote._id) }}" id="edit_quote_form" method="POST">
                        <div class="col s9 m10 l11">
                            <h2 id = "edit_header" class = "small_header edit_quote_text">Edit Quote</h2>
                            <hr class="edit_quote_text">
                            <p class = "read_quote_text"><strong>{{quote.username}}</strong> Posted:</p>
                            <hr class = "read_quote_text">
                            <p class = "read_quote_text">"{{quote.quote}}"</p>
                            <p class = "read_quote_text"><strong>- {{quote.credit}} </strong></p>
                            <input type="text" class = "edit_quote_text" value="{{quote.username}}" placeholder = "username" id="username" name="username">
                            <input type="text" class = "edit_quote_text" value="{{quote.quote}}" placeholder = "quote" id="quote" name="quote">
                            <input type="text" class = "edit_quote_text" value = "{{quote.credit}}" placeholder = "credit" id="credit" name="credit">
                        </div>
                        <div class="col s3 m2 l1">
                            <div class="row full_height">
                                <div class="col s12 half_height read_only_btns">
                                    <a class="btn btn-floating btn-large waves-effect waves-light edit_btn" id="edit_btn"><i id = "edit_btn_icon" class="material-icons center_text">edit</i></a>
                                </div>
                                <div class="col s12 half_height read_only_btns">
                                    <a class="btn btn-floating btn-large waves-effect waves-light modal-trigger" id = "delete_btn" href="#modal1"><i id = "delete_btn_icon" class="material-icons center_text">delete</i></a>
                                </div>
                                <div class="col s12 half_height edit_enabled_btns">
                                    <a class="btn btn-floating btn-large waves-effect waves-light" id = "submit_edit_btn" onclick="document.getElementById('edit_quote_form').submit()"><i id = "submit_edit_btn_icon" class="material-icons center_text">check</i></a>
                                </div>
                                <div class="col s12 half_height edit_enabled_btns">
                                    <a class="btn btn-floating btn-large waves-effect waves-light cancel_btn" id="cancel_btn"><i id = "cancel_edit_btn_icon" class="material-icons center_text">close</i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="collapsible-body border_red bg_white">
                <div class="comments_container">
                <div class="row">
                    <div class="col col s9 m10 l11">
                        <h2 class = "small_header">Comments</h2>
                        <hr>
                    </div>
                </div>
                {% for comment in quote.comments %}
                    <div class="row comment_row">
                        <div class="col s12 l2">
                            <p class="comment_name"><strong>{{ comment[0] }}:</strong></p>
                        </div>
                        <div class="col s9 m10 l9">
                            <p class = "comment_content">{{ comment[1] }}</p>
                            <hr class = "edit_quote_text">
                        </div>
                        <div class="col s3 m2 l1 edit_enabled_btns">
                            <a class="btn btn-floating btn-large waves-effect waves-light" href="{{ url_for('delete_comment', quote_id=quote._id, username=comment[0], content=comment[1]) }}" id = "delete_comment_btn"><i id = "delete_comment_btn_icon" class="material-icons center_text">delete</i></a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="row">
                    <form action="{{ url_for('add_comment', quote_id=quote._id) }}" method="POST" class="col s12" id="add_comment_form">
                        <div class="row comment_row">
                            <div class="input-field comment_input col s6 l2">
                                <input placeholder="Username" id="comment_user" type="text" name="comment_user" class="validate" required>
                            </div>
                        </div>
                        <div class="row comment_row">
                            <div class="input-field comment_input col s9 m10 l11">
                                <textarea id="comment_content" placeholder="Comment" class="materialize-textarea add_comment" name="comment_content" required></textarea>
                            </div>
                            <div class="col s3 m2 l1"><a href="#" onclick="document.getElementById('add_comment_form').submit()" class = "btn btn-floating btn-large waves-effect waves-light"><i id = "comment_btn_icon" class="material-icons center_text">insert_comment</i></a></div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <!-- Modal For DELETE QUOTE Function -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Are You Sure?</h4>
                <p>Please do not delete this post, unless you are <strong>{{quote.username}}</strong>, or have confirmed they are happy for you to take this down.</p>
                <p>Deleting this post is not reversible, and will remove all associated comments</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="{{url_for('delete_quote', quote_id=quote._id)}}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}