<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    
        
        

    
    <ul class="collapsible">
    {% for quote in quotes %}
        <li>
            <div class="collapsible-header post-container bg-white">
                <div class="row full-width">
                    <div class="col s10">
                        <i class="material-icons">filter_drama</i>
                        <p>"{{quote.quote}}"</p>
                        <p>- {{quote.credit}} </p>
                    </div>
                    <div class="col s2">
                        <!--<a class="btn waves-effect waves-light" href="{{url_for('delete_quote', quote_id=quote._id)}}">Delete
                            <i class="material-icons right">send</i>
                        </a>-->
                        <a class="btn waves-effect waves-light btn modal-trigger full-width" href="#modal1">Delete</a>
                        <a class="btn waves-effect waves-light full-width">Edit
                            <i class="material-icons right">send</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="collapsible-body bg-white">
            {% for comment in quote.comments %}
                <div class="row">
                    <div class="col s2">
                        <p><strong>{{ comment[0] }}:</strong></p>
                    </div>
                    <div class="col s10">
                        <p>{{ comment[1] }}</p>
                    </div>
                </div>
                
                
            {% endfor %}
                <div class="row">
                    <form action="{{ url_for('add_comment', quote_id=quote._id) }}" method="POST" class="col s12">
                        <div class="row comment-row">
                            <div class="input-field col s10 offset-s1">
                                <input placeholder="Username" id="comment_user" type="text" name="comment_user" class="validate" required>
                            </div>
                        </div>
                        <div class="row comment-row">
                            <div class="input-field col s10 offset-s1">
                                <textarea id="comment_content" placeholder="Comment" class="materialize-textarea" name="comment_content" required></textarea>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Post Comment
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>

            </div>
        </li>
        <!-- Modal For DELETE QUOTE Function -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Are You Sure?</h4>
                <p>Please do not delete this post, unless you are <strong>{{quote.username}}</strong>, or have confirmed they are happy for you to take this down.</p>
                <p>Deleting this post is not reversible, and will remove all associated comments</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="{{url_for('delete_quote', quote_id=quote._id)}}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
            </div>
        </div>
    {% endfor %}
    </ul>
    

    

{% endblock %}